body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NAVBAR */

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar * {
  margin: 0;
  padding: 15px;
}

.nav-options {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
}

.nav-options *:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* COLORS */

.purple-background {
  background-color: rgb(148, 69, 148);
}

.purple-text {
  color: rgb(148, 69, 148);
}

.white-background {
  background-color: white;
}

.white-text {
  color: white;
}